.login-container {
  height: 100vh;
  background: #f3f7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #2d55ff;
}

.login-container input {
  width: 300px;
  padding: 12px;
  border: 2px solid #c8d4ff;
  border-radius: 8px;
  outline: none;
  margin-bottom: 15px;
  font-size: 15px;
}

.login-container input:focus {
  border-color: #5274ff;
}

.login-btn {
  width: 300px;
  padding: 12px;
  background: #2d55ff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.login-btn:hover {
  background: #1e3ecc;
}

.login-container p {
  margin-top: 20px;
}

.login-container a {
  color: #2d55ff;
  text-decoration: none;
  font-weight: 600;
}
