/* BACK BUTTON (Same UX as StayDetails) */
.profile-back-btn {
  position: absolute;
  top: 24px;
  left: 24px;

  display: flex;
  align-items: center;
  gap: 6px;

  background: white;
  border: none;
  padding: 8px 14px;
  border-radius: 12px;

  font-size: 14px;
  font-weight: 500;
  color: #5e2dd8;

  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.profile-page {
  min-height: 100vh;
  background: #f6f0ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 320px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.profile-card h2 {
  margin: 8px 0;
  color: #5e2dd8;
}

.profile-card p {
  font-size: 14px;
  color: #555;
}

.provider {
  display: block;
  font-size: 12px;
  color: #999;
  margin: 8px 0 20px;
}

.profile-btn {
  padding: 10px 20px;
  background: #9a57ff;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
}
