.register-container {
  height: 100vh;
  background: #f9faff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.register-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #ff5b5b;
}

.register-container input {
  width: 300px;
  padding: 12px;
  border: 2px solid #ffc9c9;
  border-radius: 8px;
  outline: none;
  margin-bottom: 15px;
  font-size: 15px;
}

.register-container input:focus {
  border-color: #ff5b5b;
}

.register-btn {
  width: 300px;
  padding: 12px;
  background: #ff5b5b;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.register-btn:hover {
  background: #e04848;
}

.register-container p {
  margin-top: 20px;
}

.register-container a {
  color: #ff5b5b;
  text-decoration: none;
  font-weight: 600;
}
