.details-page {
  width: 100%;
  min-height: 100vh;
  background: #faf6ff;
}

.details-hero {
  width: 100%;
  height: 45vh;
  overflow: hidden;
}

.details-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back-btn {
  margin: 20px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #7a3cff;
  font-weight: 600;
}

.details-inner {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.details-title {
  font-size: 32px;
  font-weight: 700;
}

.details-location {
  color: #6f6d89;
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.details-meta {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.details-rating {
  color: #d1a400;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 17px;
}

.details-price {
  font-size: 20px;
  font-weight: 700;
  color: #6a33cc;
}

.details-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 12px;
  margin: 18px 0;
}

.gallery-img {
  width: 100%;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
}

.details-description {
  font-size: 16px;
  color: #4d4668;
  margin: 15px 0;
}

.amen-title {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
}

.amenities-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.amenity-box {
  background: #ede4ff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
}

.book-btn {
  margin-top: 25px;
  width: 100%;
  padding: 14px;
  background: #8f4fff;
  color: white;
  border: none;
  border-radius: 14px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.25s;
}

.book-btn:hover {
  background: #742fff;
}
