.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 26px;
  color: #fff;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #ffd166;
}
